/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   CHAT CSS
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.guests-text {
  font-size: 1em; }

.input-container select {
  margin: 10px !important; }

.unordered-list {
  padding: 0px; }

#logo {
  filter: invert(1);
  width: 100px; }

.overhidden {
  overflow: hidden; }

.header-title {
  font-family: 'Montserrat';
  font-size: 60px;
  font-weight: 700;
  margin-top: 20px !important;
  margin: 0;
  padding: 0; }

.container-travel {
  margin-top: 100px !important; }

.undertitle {
  margin-bottom: 20px !important; }

.line {
  border-bottom: 2px solid white;
  width: 50px;
  height: 2px;
  margin: 0 auto; }

.line2 {
  border-bottom: 2px solid black;
  width: 50px;
  height: 2px;
  margin: 0 auto; }

.ont-light {
  margin-bottom: 20px !important; }

#acc-or-transport-search,
#people-search {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #007bff;
  color: white;
  height: 50px;
  width: 200px;
  font-size: 20px;
  margin: 0;
  padding: 0; }

.chat-container {
  display: none; }

.chat_icon {
  position: fixed;
  width: 75px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 2; }

.chat {
  display: none;
  z-index: 2;
  bottom: 90px;
  right: 0px;
  position: fixed;
  margin-top: auto;
  margin-bottom: auto; }

.modal-image {
  height: 100%; }

.nzt-container {
  width: 100%;
  height: 101vh;
  background-color: black;
  z-index: 9999999999999999;
  position: absolute; }

.meals-header {
  margin-top: 10px; }

.btn-add-to-cart {
  background-color: #4689BC;
  color: white; }

.meals-image, .meals-image-0, .meals-image-1 {
  width: 80%;
  margin: 0 auto; }

.thumbs-down {
  margin-right: 10px; }

.rating-review {
  font-size: 14px;
  text-align: left; }

.x-btn {
  color: white; }

.img-card {
  height: 300px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2); }
  .img-card h6 {
    text-shadow: 2px 2px 15px black; }

.img-wrapper {
  height: 300px;
  width: 220px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-image: url("../img/hostel-1.jpeg"); }

.img-wrapper-2 {
  height: 300px;
  width: 220px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-image: url("../img/hotel-2.jpeg"); }

.img-wrapper-3 {
  height: 300px;
  width: 220px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-image: url("../img/hotel-3.jpeg"); }

.img-wrapper-4 {
  height: 300px;
  width: 220px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-image: url("../img/hotel-4.jpeg"); }

.fa-thumbs-up {
  color: #4689BC !important;
  transition: 0.5s ease-out;
  cursor: pointer; }

.fa-thumbs-up:hover {
  transform: scale(1.1); }

.fa-thumbs-down {
  color: red;
  opacity: 0; }

.review {
  padding: 15px;
  border: 1px solid #ebebeb; }

.modal-body-review {
  padding: 20px !important; }

.review-0-text, .review-1-text, .review-2-text {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400; }

.review-img {
  width: 100%; }

.meals {
  width: 42%;
  margin: 3%;
  border: 1px solid #ebebeb;
  float: left; }

.hide-everything {
  display: none; }

.svg-nzt-embed {
  filter: invert(1);
  width: 200px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }

.overload-wrapper {
  width: 30%;
  height: 30%;
  background-color: transparent;
  z-index: 2; }

.people {
  margin: 10px; }
  .people i {
    font-size: 20px; }

.card-chat {
  height: 500px;
  border-radius: 15px !important;
  background-color: rgba(0, 0, 0, 0.9) !important; }

.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap; }

.msg_card_body {
  overflow-y: auto; }

.card-header-chat {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important; }

.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important; }

.container {
  align-content: center; }

.type_msg {
  background-color: rgba(29, 29, 29, 0.9) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto; }

.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important; }

.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer; }

.user_card,
.first_card,
.user_card_2 {
  visibility: hidden;
  display: flex; }

.reload {
  position: absolute !important;
  right: 10px;
  top: 10px;
  font-size: 20px; }

.first_card_2,
.user_card_3,
.first_card_3,
.user_card_4,
.first_card_4 {
  display: none; }

.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important; }

.active {
  background-color: rgba(0, 0, 0, 0.3); }

.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa; }

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa; }

.img_cont {
  position: relative;
  height: 70px;
  width: 70px; }

.img_cont_msg {
  height: 40px;
  width: 40px; }

.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white; }

.alert-danger {
  background-color: black !important;
  color: white !important;
  border: none !important; }

.offline {
  background-color: #c23616 !important; }

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px; }

.user_info span {
  font-size: 20px;
  color: white; }

.user_info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6); }

.price {
  margin-top: 12px; }

.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #2873AC;
  padding: 10px;
  position: relative; }

.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #6ada82;
  padding: 10px;
  position: relative; }

.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px; }

.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  width: 100px; }

.msg_head {
  position: relative; }

@media (max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important; } }
/* ==========================================================================
   CHAT CSS
   ========================================================================== */
.vh-100 {
  height: 100vh; }

.text-center {
  text-align: center; }

.invert {
  filter: invert(1); }

body {
  font-family: 'Montserrat';
  margin: 0 auto;
  color: white; }

/*  END OF BOT CODE  */
html {
  font-family: 'Montserrat', 'Arial';
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

.wrapper-cards-wrapper {
  padding-bottom: 150px; }

.kia-ora-text {
  font-size: 20px !important; }

.red-text {
  color: #4689BC;
  font-size: 60px; }

.wrapper {
  background-image: url("../img/bg-nature.jpeg");
  border-radius: 0 0% 100% 100% / 20%;
  background-attachment: fixed; }

.wrapper-wrapper {
  border-radius: 0 0% 100% 100% / 20%;
  background: rgba(32, 124, 229, 0.79);
  background: -moz-linear-gradient(top, rgba(32, 124, 229, 0.79) 0%, rgba(0, 0, 0, 0.94) 73%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32, 124, 229, 0.79)), color-stop(73%, rgba(0, 0, 0, 0.94)), color-stop(100%, black));
  background: -webkit-linear-gradient(top, rgba(32, 124, 229, 0.79) 0%, rgba(0, 0, 0, 0.94) 73%, black 100%);
  background: -o-linear-gradient(top, rgba(32, 124, 229, 0.79) 0%, rgba(0, 0, 0, 0.94) 73%, black 100%);
  background: -ms-linear-gradient(top, rgba(32, 124, 229, 0.79) 0%, rgba(0, 0, 0, 0.94) 73%, black 100%);
  background: linear-gradient(to bottom, rgba(32, 124, 229, 0.4) 0%, rgba(0, 0, 0, 0.9) 73%, black 100%); }

#container-transport {
  color: white;
  background: rgba(255, 255, 255, 0.05) !important;
  height: 100vh;
  background: rgba(32, 124, 229, 0.79);
  background: -moz-linear-gradient(top, rgba(32, 124, 229, 0.79) 0%, rgba(0, 0, 0, 0.94) 73%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32, 124, 229, 0.79)), color-stop(73%, rgba(0, 0, 0, 0.94)), color-stop(100%, black));
  background: -webkit-linear-gradient(top, rgba(32, 124, 229, 0.79) 0%, rgba(0, 0, 0, 0.94) 73%, black 100%);
  background: -o-linear-gradient(top, rgba(32, 124, 229, 0.79) 0%, rgba(0, 0, 0, 0.94) 73%, black 100%);
  background: -ms-linear-gradient(top, rgba(32, 124, 229, 0.79) 0%, rgba(0, 0, 0, 0.94) 73%, black 100%);
  background: linear-gradient(to bottom, rgba(32, 124, 229, 0.4) 0%, rgba(0, 0, 0, 0.9) 73%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207ce5', endColorstr='#000000', GradientType=0); }

.container-travel-second {
  padding: 00px; }

.btn-accomodation,
.btn-transport {
  background-color: #074676;
  width: 220px;
  border-radius: 5px !important;
  border: none;
  margin-top: 0px !important; }

.btn-accomodation {
  font-size: 17px; }

.btn-accomodation:active, .btn-accomodation:focus {
  background-color: #2873AC !important;
  border: none; }

.btn-book, .btn-continue {
  background-color: #4689BC;
  color: #fff;
  font-weight: 400;
  border-radius: 50px;
  transition: 0.3s ease all; }

.btn-sort {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #4689BC;
  color: #fff;
  font-weight: 500;
  border-radius: 0px;
  transition: 0.3s ease all; }

.exit {
  padding: 0rem 1rem 1rem 1rem; }
  .exit button {
    background-color: #D45050;
    color: white;
    border-radius: 50px; }

.gas-pump {
  font-size: 50px !important;
  margin-top: 18px;
  color: #4689BC; }

.btn-sort:hover {
  background-color: #2873AC; }

.btn-book:hover {
  transform: scale(1.1);
  border-radius: 0px;
  background-color: #2873AC; }

.btn-transport {
  border: 1px solid white !important;
  border-radius: 0px !important; }

.fuelcard-text {
  font-size: 15px; }

.fuelCard {
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-top: 10px; }

.fuel {
  border-top: 1px solid #ebebeb;
  padding: 20px;
  width: 50%;
  float: left; }
  .fuel .fuel-image {
    width: 50%; }
  .fuel h6 {
    padding: 20px; }

#content {
  text-align: center;
  padding: 20px;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#content h3 {
  font-size: 17px; }

.rating {
  font-size: 13px; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.follow-up-input {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 0px;
  margin: 0px; }

label {
  margin: 0; }

.footer {
  height: 50px;
  background-color: black;
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden {
  display: none !important; }

.btn-learn {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #2873AC;
  background-color: transparent;
  color: #2873AC;
  transition: 0.3s ease;
  cursor: pointer; }

.btn-learn:hover {
  background-color: #2873AC;
  color: white; }

#navbar {
  position: fixed;
  width: 100%;
  z-index: 2; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.overlay {
  background-color: white; }

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*# sourceMappingURL=main.css.map */
.img-article {
  width: 100%;
  height: 100%; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #000;
  margin: 1em 0;
  padding: 0; }

.book-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: space-around; }

.card-wrapper {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100&0.08+0,0.07+100;Blue+3D+%2318 */
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(#fff, #fff);
  -webkit-box-shadow: 6px 2px 30px -9px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 6px 2px 30px -9px rgba(0, 0, 0, 0.53);
  box-shadow: 6px 2px 30px -9px rgba(0, 0, 0, 0.53); }

.checked {
  color: #ecb246; }

.card {
  z-index: 1 !important; }

.chat-popup {
  background-color: white;
  position: fixed;
  height: 100px;
  bottom: 80px;
  right: 50px;
  padding: 0px 0px 0px 20px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  cursor: default; }

.close-btn {
  align-self: flex-start;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  cursor: pointer; }

p {
  margin: 0 !important; }

.nav-bar {
  position: absolute;
  width: 100%; }
  .nav-bar ul {
    padding: 0px;
    display: flex;
    justify-content: center; }
  .nav-bar a {
    color: white;
    text-decoration: none; }
  .nav-bar a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s; }
  .nav-bar li {
    list-style-type: none;
    padding: 20px; }

.navbar {
  background-color: black; }

.img-logo-nav {
  width: 150px;
  filter: invert(1); }

.navbar-brand {
  padding-bottom: 0px !important; }

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase; }

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px; }

.select-styled {
  border-radius: 5px;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4689BC;
  border: none;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px; }

.ui-datepicker-header {
  background-color: #4689BC !important;
  color: white !important;
  border: 0px !important;
  border-radius: 0px !important; }

.ui-datepicker-calendar {
  background-color: #2873AC;
  color: white; }

#ui-datepicker-div {
  padding: 0px !important;
  border: 0px !important; }

.ui-icon {
  color: white !important; }

.ui-datepicker table {
  margin: 0px !important; }

.ui-state-default {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #4689BC !important;
  color: white !important;
  border: none !important;
  padding: 10px !important; }

.ui-datepicker-title {
  background-color: #4689BC; }

.datepicker-input, .datepicker-input2 {
  background-color: #4689BC;
  border: none;
  color: white;
  height: 40px;
  border-radius: 5px;
  color: white !important;
  text-indent: 10px;
  margin: 5px;
  width: 220px;
  cursor: pointer; }

.datepicker-input::placeholder, .datepicker-input2::placeholder {
  color: #ebebeb; }

.img-nz {
  width: 100%; }

.select-styled:hover {
  background-color: #2873AC; }

.select-styled:active,
.select-styled.active {
  background-color: #2873AC; }

.select-styled:active:after,
.select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent; }

.select-options {
  text-align: left;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #2873AC; }

.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #2873AC;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in; }

.select-options li:hover {
  color: #fff;
  background: #074676; }

.select-options li[rel="hide"] {
  display: none; }

@media only screen and (max-width: 991px) {
  .recommended-container {
    display: none; }

  .book-container {
    border-left: 0px !important; } }
.z___index {
  z-index: -1 !important; }

.z__index {
  z-index: 0; }

.modal-wrapper {
  padding: 10px; }

.modal-content {
  background-color: rgba(255, 255, 255, 0.99);
  color: black; }

.modal-body {
  padding: 0px; }

.modal-img {
  width: 100%; }

.font-light {
  font-weight: 400;
  font-size: 13px; }

.modal-header {
  border-bottom: 1px solid #333; }

.snip1543 {
  background-color: #fff;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease; }

.z-index--1 {
  z-index: -1; }

.snip1543 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top; }

.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #074676;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease; }

.snip1543:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%); }

.snip1543:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%); }

.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px; }

.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #074676;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1; }

.snip1543 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%); }

.snip1543 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%); }

.snip1543 h3,
.snip1543 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px; }

.snip1543 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase; }

.snip1543 p {
  font-size: 0.9em; }

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.snip1543:hover:before,
.snip1543.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

.snip1543:hover:after,
.snip1543.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%); }

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.slidecontainer {
  width: 100%; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.slider:hover {
  opacity: 1; }

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer; }

@media (min-width: 220px) {
  .card-col {
    text-align: center; }

  .fuelCard {
    width: 100%;
    padding-left: 0px; }

  .follow-up-input {
    display: none;
    visibility: hidden; }

  .card.mx-auto.card-wrapper {
    width: 100% !important; }

  .nav-bar ul {
    background-color: black; } }
@media (min-width: 250px) {
  .card-col {
    width: 100%; }
    .card-col img {
      width: 100%; }

  .guests-homes-title {
    margin-top: 80px !important; }

  .guests {
    text-align: center;
    margin-bottom: 20px; }

  .img-card-akl-testimonial {
    min-height: 200px !important;
    object-fit: cover; }

  .card-col-testimonial-1, .card-col-testimonial-2, .card-col-testimonial-3 {
    padding-right: 0px; }

  .card-col-icons {
    text-align: center !important;
    margin: 0 auto !important; }

  .chat_icon {
    width: 65px; }

  .card-text {
    font-size: 13px; }

  .select {
    margin-bottom: 4px;
    margin-top: 4px; }

  /* smartphones, iPhone, portrait 480x320 phones */
  .header-title {
    font-size: 35px; }

  .chat_icon {
    right: 15px !important; }

  .btn-accomodation {
    margin-top: 4px !important; }

  .follow-up-input {
    display: none;
    visibility: hidden; }

  .card-wrapper {
    padding-right: 0 !important;
    margin-top: 20px !important; }

  .text-container {
    padding-top: 8px !important;
    padding: 20px;
    text-align: center; }

  .btn-book {
    width: 100%;
    background-color: #4689BC; }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; }

  hr {
    border-top: 1px solid #ebebeb; }

  .snip1543 {
    margin: 0 auto; }

  .paragraph-specials {
    margin-top: 20px; }

  .btn-learn {
    margin-bottom: 30px; } }
@media (min-width: 481px) {
  .chat_icon {
    width: 70px; }

  .header-title {
    font-size: 46px; }

  .btn-book {
    width: 40%;
    float: right; }

  .rating {
    width: 50%;
    float: left; }

  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width: 768px) {
  .card-col-testimonial-1, .card-col-testimonial-2, .card-col-testimonial-3 {
    padding: 20px !important; }

  .guests {
    margin-left: auto;
    margin-right: auto; }

  .chat_icon {
    width: 75px; }

  .btn-book {
    width: 100%;
    float: none; }

  .rating {
    width: 100%;
    float: none; }

  .card-col {
    padding: 20px !important; }

  .img-booked {
    height: 400px !important;
    object-fit: cover; }

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width: 961px) {
  .img-booked {
    height: 150px !important;
    object-fit: cover; }

  .fuelCard {
    margin-bottom: 10px !important; }

  .header-title {
    font-size: 53px; }

  .kia-ora-text {
    font-size: 23px !important; }

  /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width: 1000px) {
  .btn-book {
    width: 20%;
    clear: both;
    margin-right: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important; }

  .input-container {
    margin-top: 10px;
    margin-bottom: 10px; }

  .follow-up-input {
    display: block;
    visibility: visible; }

  #content {
    top: 45%; }

  .header-title {
    font-size: 65px; }

  .navbar {
    padding-bottom: 0px;
    padding-top: 0px;
    padding: 10px; }

  .input-container {
    flex-direction: row; }
    .input-container .select {
      margin: 5px; }

  #card-container .card {
    width: 100% !important;
    flex-direction: row; }
  #card-container .card-img-top {
    width: 32% !important;
    height: 20% !important; }
  #card-container .card-body {
    padding: 0px !important; }
    #card-container .card-body .card-title {
      font-size: 21px !important; }
    #card-container .card-body .card-title, #card-container .card-body .card-text, #card-container .card-body .price, #card-container .card-body .rating {
      margin: 10px !important; }

  .btn-book {
    width: 30%;
    float: right; }

  .rating {
    width: 50%;
    float: left; }

  /* hi-res laptops and desktops */ }
@media (min-width: 1200px) {
  .img-booked {
    height: 130px;
    object-fit: cover; }

  .btn-book {
    width: 20%;
    float: right; }

  .rating {
    width: 50%;
    float: left; }

  /* big landscape tablets, laptops, and desktops */ }
.special, .special-modal {
  position: absolute;
  background-color: #D45050;
  color: white;
  padding: 10px 20px;
  border-bottom-right-radius: 20px;
  z-index: 2; }

.card-number-input {
  width: 100%;
  height: 40px; }

.card-expiration-input {
  width: 28%;
  height: 40px; }

.card-exp-div {
  margin-top: 20px; }

.card-cvc-div {
  margin-top: 20px; }

.card-coupon-div {
  margin-top: 20px; }

.card-cvc-input {
  width: 50%;
  height: 40px; }

.card-coupon-input {
  width: 89%;
  height: 40px;
  float: left; }

.coupon-go:hover {
  transform: scale(1.1); }

.coupon-go {
  cursor: pointer;
  transition: 0.4s;
  float: left;
  width: 10%;
  margin-left: 3px;
  border: 1px solid #ebebeb;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4689BC; }

.icon-submit-coupon {
  font-size: 24px;
  color: white !important; }

.payment-form {
  padding: 20px; }
  .payment-form input {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    text-indent: 10px; }

.modal {
  overflow: auto !important; }

.modal-payment-form-modal {
  width: 100%;
  margin: 0 auto; }

.alert-danger-new {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb; }

.total-price {
  background-color: #074676;
  color: white;
  padding: 10px; }

.card-total-price-div {
  margin-top: 30px;
  margin-bottom: 20px; }

.btn-pay {
  background-color: #4689BC;
  color: white;
  width: 94%;
  height: 40px;
  margin-top: 20px;
  margin: 20px auto 0px auto; }

.guests-text {
  font-size: 21px;
  font-weight: 800; }

.container-guests {
  margin-top: 120px;
  padding: 10px;
  background-color: #F6F6F6; }

.description-small {
  font-weight: 600;
  font-size: 12px;
  margin-top: 10px; }

.description-testimonial-star {
  margin-top: 10px;
  font-size: 16px; }

.image-testimonial {
  width: 14%;
  border-radius: 50%;
  height: 12%;
  float: left;
  margin-top: 10px; }

.name-testimonial {
  padding-left: 20px;
  float: left;
  margin-top: 15px;
  line-height: 20px; }

.location-testimonial {
  font-size: 14px;
  font-weight: 300; }

.img-card-akl-testimonial {
  width: 100%;
  border-radius: 5px;
  object-fit: cover; }

.description-testimonial {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

.travelling-with-nzt {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
  padding-bottom: 10px; }

.travel-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-right: 20px; }

.card-col-testimonial-1 {
  padding-top: 20px;
  padding-left: 0px; }

.icon-travel {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4689BC; }

.card-col-testimonial-3 {
  padding-top: 20px;
  padding-left: 0px; }

.card-col-testimonial-2 {
  padding-top: 20px;
  padding-left: 0px; }

.description-title {
  font-weight: 600; }

.description-price {
  font-weight: 400;
  font-size: 13px; }

.description-host {
  font-size: 12px;
  font-weight: 600; }

.description-star {
  color: #4689BC; }

.img-card-akl {
  border-radius: 5px; }

.container-book {
  padding-bottom: 80px;
  padding-top: 20px; }

.travel-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px; }

.guests {
  margin-top: 50px; }

.card-col {
  padding: 0px;
  margin-top: 20px; }

.help-cvc {
  cursor: pointer; }

.help-cvc-div {
  width: 80%;
  position: absolute;
  background-color: white;
  border: 1px solid #ebebeb;
  z-index: 2; }
  .help-cvc-div img {
    width: 100%; }

.visa-card, .master-card, .discover-card, .american-express-card {
  transition: 0.3s ease all; }

h1, h2, h3, h4, h5, h6, .header-title, p, i, span:before, span, span:after, body {
  cursor: default; }

/*# sourceMappingURL=main.css.map */
